.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  margin-top: 20px;
  text-align: center;
}

.country-link {
  text-decoration: none;
}

.btn-back {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-2.5 * var(--bs-gutter-x));
  margin-left: calc(0.5 * var(--bs-gutter-x));
}

@media (min-width: 1024px) {
  .countries-list-container {
    width: 50%;
    display: inline-block;
  }

  .country-details-container {
    width: 50%;
    display: inline-block;
  }
}